<div class="products">
    <div class="products-container">
        <h1>Products</h1>
        <div class="newproduct">
            <h2>New Product Form</h2>

            <div class="import">
                <label for="">Upload Medical Files</label>
                <input type="file">
            </div>
            <span>OR</span>
            <div class="form">
                <form action="">
                    <div class="row-1">
                        <div class="product-data">
                            <label for="">Name of Product *</label>
                            <input type="text">
                        </div>
                        <div class="product-data">
                            <label for="">Measurement Unit *</label>
                            <input type="text">
                        </div>
                        <div class="product-data">
                            <label for="">Pack Size *</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="row-1">
                        <div class="product-data">
                            <label for="">Product Code *</label>
                            <input type="text">
                        </div>
                        <div class="product-data">
                            <label for="">Cash Price *</label>
                            <input type="text">
                        </div>
                        <div class="product-data">
                            <label for="">Credit Price *</label>
                            <input type="text">
                        </div>
                        <div class="product-data">
                            <label for="">Hospital Price *</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="row-1">
                        <div class="product-data">
                            <label for="">Brief Description *</label>
                            <input type="text">
                        </div>
                        <div class="product-data">
                            <label for="">Detailed Description</label>
                            <input type="text">
                        </div>
                    </div>
                </form>
                <div class="base-image">
                    <input type="file">
                </div>
            </div>
            <button>Save New Product</button>
        </div>
        <div class="list-supplies">
            <h2>List of Medical Supplies</h2>
            <div class="det">

            </div>
            <div class="table">
                <table>
                    <tr>
                        <th></th>
                        <!-- <th>short discription</th>
                        <th>price</th>
                        <th>stock</th>
                        <th>image</th>
                        <th>last updated</th>
                        <th>action</th> -->
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>